* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.hero-section {
  background-color: #8ac8dc;
}

.hero-section ul li {
  padding-left: 20px;
}

.btn-custom {
  color: #ffffff;
  background-color: #233c50;
  border-radius: 50px;
  padding: 5px 25px;
  margin-top: 3px;
}

.btn-custom:hover {
  color: #8ac8dc;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

header {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  background-color: #8ac8dc;
}

header .menu-button {
  color: #ffffff;
  background-color: #233c50;
  border-radius: 1.5em;
  padding: 4px 30px;
}

header .logo-holder {
  -webkit-box-flex: 0.66;
      -ms-flex: 0.66;
          flex: 0.66;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 200px;
}

header nav {
  -webkit-box-flex: 0.99;
      -ms-flex: 0.99;
          flex: 0.99;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline-block;
  font-size: 15px;
}

header nav ul li a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  padding: 5px 20px;
  font-weight: lighter;
}

header nav ul li.active a {
  background-color: gray;
  border-radius: 1.5em;
}

.registration-modal {
  color: #233c50;
  /* flexbox */
}

.registration-modal h3 {
  font: normal normal 800 33px Raleway;
  text-align: center;
}

.registration-modal h5 {
  font: normal normal normal 20px Raleway;
  text-align: center;
}

.registration-modal input, .registration-modal select {
  background: #D4E8F3 0% 0% no-repeat padding-box;
  border-radius: 8px;
  border: none;
}

.registration-modal .form-control {
  -webkit-appearance: revert;
  -moz-appearance: revert;
  appearance: revert;
}

.registration-modal button[type='submit'] {
  background: #233C50 0% 0% no-repeat padding-box;
  border-radius: 29px;
  font: normal normal bold 20px Raleway;
  height: 55px;
}

.registration-modal label {
  font: normal normal bold 18px/14px Raleway;
  letter-spacing: 1.44px;
}

.registration-modal .modal.show .modal-dialog {
  max-width: 516px;
}

.registration-modal h1.a {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  text-align: center;
  /* optional */
  font: normal normal 600 16px Raleway;
  opacity: 0.5;
}

.registration-modal h1.a:before, .registration-modal h1.a:after {
  display: block;
  border-bottom: 2px solid #8AC8DC;
  content: " ";
  margin-bottom: 6px;
  -ms-flex: 1 1;
  -webkit-box-flex: 1;
          flex: 1 1;
  min-width: 2px;
  /* optional */
}

.registration-modal h1.a:before {
  margin-right: 10px;
}

.registration-modal h1.a:after {
  margin-left: 10px;
}

.registration-modal .close {
  position: absolute;
  right: 20px;
  top: 14px;
  font-size: 35px;
}

.registration-modal .icon-input {
  position: relative;
}

.registration-modal .icon-input i {
  position: absolute;
  top: 8px;
  right: 8px;
}

.hero-banner {
  height: 720px;
  background-color: #f3f6fb;
  background-image: url(../img/Group76@1X.png);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.hero-banner .text-content h1 {
  font-size: 45px;
  color: #ffffff;
}

.hero-banner .text-content h1 span {
  color: #233c50;
  font-weight: bold;
}

.hero-banner .text-content p {
  width: 60%;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.hero-banner .text-content .hero-button {
  width: 25%;
  -ms-flex-item-align: left;
      -ms-grid-row-align: left;
      align-self: left;
  color: #ffffff;
  background-color: #233c50;
  font-weight: bold;
  border-radius: 1.5em;
  padding: 4px 30px;
}

.hero-banner .hero-image {
  text-align: right;
}

.hero-banner .hero-image img {
  width: 100%;
}

.card-section {
  height: 920px;
  background-color: #f3f6fb;
  background-image: url(../img/Group75.png);
  background-size: 130%;
  background-repeat: no-repeat;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.card-section .content {
  color: #233c50;
  padding-top: 10%;
}

.card-section .content h1 {
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 20px;
}

.card-section .content p {
  font-weight: 500;
  padding-bottom: 30px;
}

.card-section .card {
  border: none;
  -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  border-radius: 20px;
  min-height: 450px;
  -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .card-section .card {
    min-height: 350px;
  }
}

@media (max-width: 420px) {
  .card-section .card {
    min-height: 300px;
  }
}

.card-section .card.card-has-bg {
  -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  background-size: 120%;
  background-color: white;
}

.card-section .card.card-has-bg:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

.card-section .card.card-has-bg:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
  background-size: 130%;
  -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.card-section .card.card-has-bg:hover .card-img-overlay {
  -webkit-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  background: #fcfcfc;
}

.card-section .card .card-footer {
  background: none;
  border-top: none;
}

.card-section .card .card-footer .media .d-block {
  color: #233c50;
  width: 80%;
  margin-left: 20px;
}

.card-section .card .card-meta {
  color: #233c50;
}

.card-section .card .card-body {
  -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-flex-line-pack: center;
      align-content: center;
}

.card-section .card .card-body .card-img {
  position: absolute;
  height: 170px;
  width: 170px;
  margin-top: 10%;
  margin-left: -20%;
}

.card-section .card .card-body .card-title {
  color: #233c50;
  padding-bottom: 20px;
}

.card-section .card:hover {
  cursor: pointer;
  -webkit-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

.card-section .card:hover .card-body {
  margin-top: 30px;
  -webkit-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

.card-section .card .card-img-overlay {
  -webkit-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  background: white;
}

.carousel-section {
  height: 920px;
  background-color: #f3f6fb;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.carousel-section h1 {
  padding-top: 10%;
  color: #233c50;
  font-weight: bold;
  padding-right: 400px;
  padding-left: 400px;
}

.carousel-section .wrap {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  padding: 0 60px;
  overflow: hidden;
}

.carousel-section .wrap:after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.carousel-section .slider {
  position: relative;
  z-index: 200;
  padding: 0 0px;
  margin: 5rem auto;
  max-width: 1000px;
  width: 100%;
}

.carousel-section .slick-arrow {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 50px;
  margin: 0 -40px;
  line-height: 50px;
  margin-top: -25px;
  border: none;
  background: transparent;
  color: #d0e6a5;
  font-family: monospace;
  font-size: 5rem;
  z-index: 300;
  outline: none;
}

.carousel-section .slick-prev {
  left: -50px;
  text-align: left;
}

.carousel-section .slick-next {
  right: -50px;
  text-align: right;
}

.carousel-section .item.slick-slide {
  width: 500px;
  height: 300px !important;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  position: relative;
}

.carousel-section .slick-slide:after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.carousel-section .item.slick-slide {
  -webkit-transform: scale(0.7) translate(640px);
          transform: scale(0.7) translate(640px);
}

.carousel-section .item.slick-slide.slick-center + .slick-slide {
  -webkit-transform: scale(0.8) translate(-250px);
          transform: scale(0.8) translate(-250px);
  z-index: 10;
}

.carousel-section .item.slick-slide.slick-center + .slick-slide + .item.slick-slide {
  -webkit-transform: scale(0.7) translate(-640px);
          transform: scale(0.7) translate(-640px);
  z-index: 5;
}

.carousel-section .item.slick-slide.slick-active {
  -webkit-transform: scale(0.8) translate(250px);
          transform: scale(0.8) translate(250px);
}

.carousel-section .item.slick-slide.slick-center {
  /* margin: 0 -10%; */
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 30;
}

.carousel-section .slick-center:after {
  opacity: 0;
}

.carousel-section .card {
  position: relative;
  height: 295px;
  overflow: hidden;
  border-radius: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 40px 20px;
  -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.carousel-section .card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.carousel-section .card_red,
.carousel-section .card_red .title .fa {
  background: linear-gradient(45deg, #bee2ec, #8ac8dc);
}

.carousel-section .card_violet,
.carousel-section .card_violet .title .fa {
  background: linear-gradient(-45deg, #f403d1, #64b5f6);
}

.carousel-section .card_three,
.carousel-section .card_three .title .fa {
  background: linear-gradient(-45deg, #e3f7bb, #d0e6a5);
}

.carousel-section .card:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 1;
  -webkit-transform: skewY(-5deg) scale(1.5);
          transform: skewY(-5deg) scale(1.5);
}

.carousel-section .title .pic {
  margin-left: 30px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.carousel-section .title h2 {
  position: relative;
  margin: 20px 0 0;
  padding: 0;
  color: #fff;
  font-size: 28px;
  z-index: 2;
}

.carousel-section .price {
  position: relative;
  z-index: 2;
}

.carousel-section .price h4 {
  margin: 0;
  padding: 20px 0;
  color: #fff;
  font-size: 60px;
}

.carousel-section .option {
  position: relative;
  z-index: 2;
}

.carousel-section .option ul {
  margin: 0;
  padding: 0;
}

.carousel-section .option ul li {
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
  color: #fff;
  font-size: 16px;
}

.carousel-section .card a {
  display: block;
  position: relative;
  z-index: 2;
  background-color: #fff;
  color: #262fff;
  width: 150px;
  height: 40px;
  text-align: center;
  margin: 20px auto 0;
  line-height: 40px;
  border-radius: 40px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.map-section {
  height: 420px;
  background-color: #f3f6fb;
  background-image: url(../img/);
  text-align: left;
}

.map-section h2 {
  color: #233c50;
  font-weight: bold;
}

.map-section .card_map {
  border-radius: 10px;
  padding: 30px;
  width: 200%;
}

.map-section .polaroid {
  width: 650px;
  text-align: center;
}

.map-section .container {
  padding: 10px;
  background: #f2f6f8;
}

.map-section #map {
  width: 100%;
  height: 200px;
}

footer {
  background-color: #f3f6fb;
  padding: 50px 0px;
  background-image: url(../img/footer-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  font-weight: 200;
  color: #fff;
  padding-top: 5px;
}

footer ul li:first-child {
  font-weight: 600;
  color: #8ac8dc;
}

.btn-course {
  color: #fff;
}

.footer-part span {
  margin-top: 20px;
  display: block;
  height: 1px;
  width: 202px;
  background: #436275;
}

.footer-part img {
  width: 70%;
}

.image-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 7px;
}

.image-part ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.image-part ul li {
  float: right;
  width: 51px;
  padding-left: -39px;
  margin: 0px;
}

.image-part ul li img {
  width: 55px;
}

.main-content img {
  width: 22%;
}

.image {
  display: block;
  padding-top: 105px;
  text-align: end;
}

.second-row {
  margin-left: -136px;
}
/*# sourceMappingURL=style.css.map */